extends ../layouts/main.pug
block globals
	- title ="my super awsomde blogging plateform";

	body
		h1#hrader = title

		p.intro-text.second-class(data-attr="my value") It was a rainy day in Pizzavill
